.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
}

footer {
  background-color: lightgray;
  text-align: center;
  margin-top: auto;
  padding: 8px;
}